<script src="/back/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/back/assets/js/bootstrap.bundle.min.js"></script>

<script src="/back/assets/js/mazer.js"></script>
</body>

</html>
