<%- include('../layouts/header',{title: 'Thêm tài khoản'}) %>
<div id="main-content">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-12 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Tài khoản
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="section">
            <form action="" method="post">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thêm tài khoản</h4>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="user_name">Tên tài khoản</label>
                                    <input type="text" id="user_name" class="form-control" placeholder="Tên tài khoản" name="user_name">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="password">Mật khẩu</label>
                                    <input type="password" id="password" class="form-control" placeholder="Mật khẩu" name="password">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="full_name">Họ tên</label>
                                    <input type="text" id="full_name" class="form-control" placeholder="Họ tên" name="full_name">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="birthdate">Ngày sinh</label>
                                    <input type="date" id="birthdate" class="form-control" placeholder="Ngày sinh" name="birthdate">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="avatar">Avatar</label>
                                    <input type="file" id="avatar" class="form-control" placeholder="Avatar" name="avatar">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <img id="img" src=""  height="70px" alt="avatar">
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Số điện thoại</label>
                                    <input type="text" id="phone" class="form-control" placeholder="Số điện thoại" name="phone">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" class="form-control" placeholder="Số điện thoại" name="email">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="address">Địa chỉ</label>
                                    <input type="text" id="address" class="form-control" placeholder="Địa chỉ" name="address">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="user_type">Loại tài khoản</label>
                                    <select id="user_type" class="form-select" name="user_type">
                                        <option value="">Chọn loại người dùng</option>
                                        <% userType.forEach(type => { %>
                                            <option value="<%= type %>"><%= type %></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-end px-5 mb-3">
                        <button class="btn btn-primary" type="submit">Thêm</button>
                        <a href="./" class="btn btn-secondary">Hủy bỏ</a>
                    </div>
                </div>
            </form>
        </section>
    </div>
<%- include('../layouts/footer') %>
